name: Test on pull request
on:
  pull_request:
    branches:
      - master

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.13.x]
    runs-on: ubuntu-18.04
    steps:
      # Checkout
      - name: Checkout
        uses: actions/checkout@v2
      # Test
      - name: Test code
        env:
          DETA_SDK_TEST_BASE_NAME: ${{secrets.DETA_SDK_TEST_BASE_NAME}}
          DETA_SDK_TEST_PROJECT_KEY: ${{secrets.DETA_SDK_TEST_PROJECT_KEY}}
          DETA_SDK_TEST_BASE_ENDPOINT: ${{secrets.DETA_SDK_TEST_BASE_ENDPOINT}}
          DETA_SDK_TEST_DRIVE_ENDPOINT: ${{secrets.DETA_SDK_TEST_DRIVE_ENDPOINT}}
        run: go test